.bda-dark #bda-qem,
.bda-dark #bda-qem-favourite-container,
.bda-dark #bda-qem-twitch-container,
.da-actions .da-iconsWrapper,
.da-appMount,
.da-attachPopout,
.da-autocomplete,
.da-autocompleteArrow,
.da-backgroundBlurOverlay,
.da-card,
.da-category,
.da-content form .da-wrapper,
.da-contextMenu,
.da-datePicker,
.da-emojiPicker,
.da-fullscreenOnMobile,
.da-iconBadge,
.da-incomingCallInner,
.da-inner>.da-modal,
.da-jumpToPresentBar,
.da-layout .da-wrapper,
.da-markup code,
.da-markup pre,
.da-menu,
.da-messagesPopoutWrap>.da-body,
.da-messagesPopoutWrap>.da-footer,
.da-messagesPopoutWrap>.da-header,
.da-modal .da-contentWrapper,
.da-modal>.da-body,
.da-modal>.da-footer,
.da-modal>.da-inner>.da-root>.da-body,
.da-modal>.da-inner>.da-wrapper,
.da-modal>.da-message,
.da-modal.da-popout,
.da-newMessagesBar,
.da-popout>*:not(.da-activityUserPopout)>.da-button,
.da-popout>*:not(.da-activityUserPopout)>.da-button:hover,
.da-popouts .da-container,
.da-progress,
.da-quickSelectPopout,
.da-quickswitcher,
.da-recentMentionsPopout,
.da-regionSelectModal,
.da-searchBox,
.da-searchResultsWrap,
.da-sectionTag,
.da-select>div>*:nth-child(3),
.da-slide,
.da-standardSidebarView,
.da-themedPopout,
.da-tile,
.da-topSectionNormal,
.da-unread,
.da-uploadModal,
.da-userPopout>.da-body,
.da-userPopout>.da-footer,
.da-userPopout>.da-header:not(.da-headerPlaying):not(.da-headerStreaming):not(.da-headerSpotify),
.da-userPopout,
form.da-modal,
.react-datepicker {
    background: #000 !important;
}

.da-guildIcon,
.da-guildIconExpired {
    background-color: #000 !important;
}

.ace_gutter,
.ace_gutter-active-line,
.ace_marker-layer .ace_active-line,
.btn-close:hover,
.da-accountBtnInner,
.da-accountBtnInner:hover,
.da-actionButtons,
.da-activity,
.da-activityFeed,
.da-akaBadge,
.da-app,
.da-applicationStore,
.da-attachButtonDivider,
.da-attachment,
.da-attachPopout .da-attachPopoutRow:hover,
.da-card:before,
.da-changeDetails,
.da-channel:hover a,
.da-channelName,
.da-channels,
.da-channelTextArea .da-inner,
.da-chat,
.da-checked,
.da-children,
.da-circleIconButton,
.da-closeButton:hover,
.da-consentButton,
.da-container,
.da-content form,
.da-content,
.da-contentRegion,
.da-divider,
.da-embedInner,
.da-embedVideo,
.da-embedWrapper,
.da-expandedInfo,
.da-focused,
.da-friendsAction,
.da-friendsColumnSeparator,
.da-friendSelected,
.da-friendsRow:hover,
.da-gameLibrary,
.da-guildSeparator,
.da-hasMore button,
.da-hasValue button,
.da-hintValue,
.da-iconWrapper,
.da-incomingCallInner .da-actionButtons button:last-child,
.da-incomingCallInner .da-actionButtons button:last-child:hover,
.da-inCall .da-wrapper,
.da-input,
.da-invite,
.da-item,
.da-item:hover,
.da-itemBackground,
.da-itemDescription>.da-header,
.da-jumpButton,
.da-keybindShortcut span,
.da-layer,
.da-layers>.da-layer>.da-container>.da-wrapper,
.da-layers>.da-layer>.da-container>.da-wrapper .da-button,
.da-layers>.da-layer>.da-container>.da-wrapper .da-button:hover,
.da-layers>.da-layer>.da-container>.da-wrapper .da-wrapper,
.da-channels>.da-container .da-button,
.da-channels>.da-container .da-button:hover,
.da-channels>.da-container .da-iconButton,
.da-channels>.da-container .da-iconButton:hover,
.da-layers,
.da-members,
.da-message,
.da-message .da-container .da-markup .da-wrapper,
.da-message .da-container .da-markup .da-wrapper .mention,
.da-messageGroupWrapper,
.da-messagesWrapper,
.da-modal .da-contentWrapper .da-pill,
.da-noChannel,
.da-notDetected,
.da-option,
.da-pageWrapper,
.da-paymentPane>.da-paginator,
.da-paymentPane,
.da-paymentRow,
.da-popout .da-tag,
.da-popouts .da-container header,
.da-popouts .da-container section,
.da-previewOverlay,
.da-quickMessage,
.da-quickSelectPopoutOption,
.da-quickSelectPopoutOption:hover,
.da-reaction,
.da-reactionMe,
.da-regionSelect:hover button,
.da-regionSelectModalOption,
.da-removeGame,
.da-removeGame:hover,
.da-result,
.da-root,
.da-row,
.da-rowWrapperActive,
.da-searchAnswer,
.da-searchBar,
.da-searchFilter,
.da-searchHeader,
.da-searchResultMessage,
.da-section,
.da-select>div>*:nth-child(3)>div>div,
.da-selected a,
.da-selectorSelected,
.da-separator,
.da-sidebarRegion,
.da-slide .da-action,
.da-tabBar .da-primary,
.da-tabBar .da-primary:hover,
.da-tabBar .da-primarySelected
.da-tier1Banner,
.da-tiles,
.da-topic .da-wrapper,
.da-topSectionNormal .da-headerFill,
.da-topSectionPlaying .da-headerFill,
.da-topSectionSpotify .da-headerFill,
.da-topSectionStreaming .da-headerFill,
.da-uploadModal>.da-footer,
.da-userInfoViewing,
.da-userSelectNone,
.da-video,
.react-datepicker__current-month,
.react-datepicker__day,
.react-datepicker__day:hover,
.react-datepicker__day--disabled,
.react-datepicker__day--outside-month,
.react-datepicker__header,
.ui-switch-item,
.ui-tab-bar-item.selected,
.ui-tab-bar-item:hover,
.ui-tab-bar-separator,
#bd-customcss-attach-controls,
#bd-customcss-detach-container,
#bd-customcss-detach-container #bd-customcss-attach-controls,
#bd-customcss-detach-controls-button button,
#bd-customcss-detach-controls-button button:hover,
#bd-customcss-editor,
#bd-customcss-editor-detached,
#bd-settingspane-container,
form>.da-typing {
    background-color: transparent !important;
}

.bda-dark #bda-qem button,
.da-children::after,
.da-friendTableAddHeader,
.da-friendTableAddHeader .da-wrapper,
.da-listRow:hover,
.da-option::after,
.da-or,
.da-sectionTag .da-selected,
.da-searchOption .da-select,
.da-searchOption::after,
.da-searchResult::before,
.da-searchResult::after {
    background: transparent !important;
}

.da-callAvatarStatus,
.da-status {
    border-color: #000 !important;
}

.bda-header,
.bda-footer,
.btn-close,
.da-accountBtnInner,
.da-accountBtnInner:hover,
.da-actions .da-iconsWrapper,
.da-attachment,
.da-auditLog,
.da-body,
.da-bottomDivider,
.da-button,
.da-card,
.da-card::before,
.da-card::after,
.da-categoryHeader,
.da-channelSeparator::before,
.da-channelTextArea,
.da-closeButton,
.da-closeButton:hover,
.da-connectedAccount,
.da-container,
.da-contextMenu .da-itemGroup,
.da-datePickerHint,
.da-divider,
.da-dividerContent::before,
.da-dividerContent::after,
.da-emojiPicker .da-selected,
.da-emojiPicker,
.da-footer,
.da-friendsRow,
.da-friendsTableHeader,
.da-group .da-item,
.da-hasMore button,
.da-header,
.da-headerCell,
.da-incomingCallInner,
.da-inputDefault,
.da-invite,
.da-keybindShortcut span,
.da-markup code,
.da-markup pre,
.da-messageGroupWrapper,
.da-multiInputLast::before,
.da-overridePlaceholder,
.da-pageActions>*,
.da-paymentHeader,
.da-previewOverlay,
.da-queryContainer,
.da-quickMessage,
.da-recentMentionsPopout,
.da-regionSelect button,
.da-regionSelectInner,
.da-regionSelectModalOption,
.da-regionSelectModalOption:hover,
.da-resultsGroup::before,
.da-row,
.da-searchResultMessage,
.da-section,
.da-select>div>*:nth-child(3),
.da-separator,
.da-slide .da-action,
.da-sortFilterBar,
.da-tabBarContainer,
.da-themedPopout,
.da-tipsWithResults,
.da-uploadModal .da-inner,
.da-userInfoSection,
.da-userInfoViewing,
.da-userSettingsAccount .da-input,
.pagination-button,
.react-datepicker__header,
.react-datepicker__navigation,
.react-datepicker__navigation:hover,
.react-datepicker__week .react-datepicker__day,
.react-datepicker__week:last-of-type .react-datepicker__day,
.react-datepicker__week .react-datepicker__day:last-of-type,
.ui-form-text,
.ui-switch-item,
#bd-customcss-detach-controls-button button {
    border-color: transparent !important;
}

.bda-dark #bda-qem,
.bda-dark #bda-qem button,
.da-avatarUploader .da-avatar,
.da-embedInner,
.da-embedWrapper,
.da-uploadModal .da-inner .da-image,
.da-userSelectNone {
    border: none !important;
}

.bda-dark #bda-qem button,
.da-actionButtons,
.da-autocompleteArrow,
.da-autocompleteShadow,
.da-container,
.da-footer,
.da-footerSeparator,
.da-game,
.da-header,
.da-input,
.da-item,
.da-keybindShortcut span,
.da-menu,
.da-message,
.da-modal,
.da-notificationsSound,
.da-quickswitcher,
.da-recentMentionsPopout,
.da-regionSelect,
.da-regionSelect:hover,
.da-removeGame,
.da-searchBar,
.da-searchHeader,
.da-searchResultMessage,
.da-slide .da-action,
.da-themedPopout,
.da-tile,
.da-tiles,
.da-uploadModal .da-inner .da-image,
.da-userPopout,
.da-wrapper,
#bd-customcss-attach-controls {
    box-shadow: none !important;
}

.da-pageWrapper .da-bg {
    opacity: 0 !important;
}

.da-newMessagesBar,
.da-users {
    background-color: #000 !important;
}

.da-containerDefault .da-unread,
.da-pill .da-item {
    background-color: #fff !important;
}

.da-hasValue button,
.da-newMessagesBar button:last-child,
.da-or,
.da-tabBar .da-primary:hover,
.da-tabBar .da-primarySelected {
    color: #fff !important;
}

.da-tabBar .da-primary {
    color: inherit !important;
}

.da-total {
    background-color: #8e9297 !important;
    color: #000 !important;
}

.da-total::after {
    border-right-color: #8e9297 !important;
}

.da-dividerRed .da-dividerContent {
    color: #f04747 !important;
}

.da-isMentioned {
    background: rgba(250, 166, 26, .1) !important;
}

.da-botTagInvert {
    background: #7289da !important;
    color: #fff !important;
}

.da-uploadModal .da-button[type="submit"] {
    background: #7289da !important;
    color: #fff !important;
}

.da-itemBackground:before {
    background: radial-gradient(ellipse at top, rgba(0, 0, 0, 0), #000),
        linear-gradient(90deg, #000 0, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 60%, #000),
        linear-gradient(0deg, #000 0, rgba(0, 0, 0, 0) 25%) !important;
}

.da-gradientOverlayLeft {
    background-image: linear-gradient(90deg, #000, rgba(0, 0, 0, 0)) !important;
}

.da-gradientOverlayRight {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), #000) !important;
}

.da-notches {
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='20' fill='%23000'><path fill-rule='evenodd' d='M0 0h8v20H0V0zm4 2a2 2 0 0 0-2 2v12a2 2 0 1 0 4 0V4a2 2 0 0 0-2-2z'/></svg>") !important;
}

.da-message .da-container .da-markup .da-wrapper .mention {
    cursor: default;
}

.bda-dark .emoji-picker .scroller::-webkit-scrollbar,
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-track,
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-track-piece,
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar,
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track,
.bda-dark #bda-qem-twitch-container .scroller::-webkit-scrollbar-track-piece,
.bda-dark #pubs-container .scroller::-webkit-scrollbar,
.bda-dark #pubs-container .scroller::-webkit-scrollbar-track,
.bda-dark #pubs-container .scroller::-webkit-scrollbar-track-piece,
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar,
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track,
.bda-dark #bda-qem-favourite-container .scroller::-webkit-scrollbar-track-piece,
.da-emojiPicker .da-scrollerWrap .da-scroller::-webkit-scrollbar,
.da-emojiPicker .da-scrollerWrap .da-scroller::-webkit-scrollbar-track,
.da-emojiPicker .da-scrollerWrap .da-scroller::-webkit-scrollbar-track-piece {
    background-color: transparent !important;
    border-color: transparent !important;
}

.da-scroller::-webkit-scrollbar-thumb,
.da-scrollerWrap::-webkit-scrollbar-thumb,
.da-emojiPicker .da-scrollerWrap .da-scroller::-webkit-scrollbar-thumb {
    background-color: #202225 !important;
    border-color: transparent !important;
}

.da-scroller::-webkit-scrollbar-track,
.da-scrollerWrap::-webkit-scrollbar-track {
    background-color: transparent !important;
}

.da-scroller::-webkit-scrollbar-track-piece,
.da-scrollerWrap::-webkit-scrollbar-track-piece {
    background-color: transparent !important;
    border-color: transparent !important;
}
